<%= form_for(@normal_issue) do |f| %>
  <% if @normal_issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@normal_issue.errors.count, "error") %> prohibited this normal_issue from being saved:</h2>

      <ul>
      <% @normal_issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
