<h1>Listing issues</h1>


<div>
<% @issues.each do |issue| %>

<%#= raw(issue.body) %>
<p class="section-title"><%= issue.title %> 
<span style="float: right; ">(<%= link_to 'Show', issue %> | <%= link_to 'Edit', edit_issue_path(issue) %> | <%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %>)</span>
</p>

<% end %>
</div>

<br />

<%= link_to 'New Issue', new_issue_path %>
