<h1>Listing issues</h1>


<div>
<% @issues.each do |issue| %>

<div class="box left">
<div class="actions">
<%= link_to 'Show', issue %> | <%= link_to 'Edit', edit_issue_path(issue) %> | <%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div class="body">
<%= raw(issue.body) %>
</div>
</div>

<div class="right"></div>
<% end %>
</div>

<br />

<%= link_to 'New Issue', new_issue_path %>
