<% content_for :title do %>
  <%= @issue.title %>
<% end %>

<p id="notice"><%= notice %></p>


<div>
  <div class="box left">
    <div class="body">
      <%= raw(@issue.body) %>
    </div>
  </div>

  <div class="right"></div>
</div>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
