<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Uprightness 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130920

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= yield(:title) %></title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" />

  <%= stylesheet_link_tag    "uprightness", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="uprightness-container-wrapper">
    <div class="uprightness-container">
      <div id="logo">
        <h1><a href="#">UC Merced - UCPATH</a></h1>
      </div>
      <div id="menu">
        <ul>
          <li class="current_page_item"><a href="<%= issues_path() %>#homepage" accesskey="1" title="">Homepage</a></li>
          <li style="display: none; "><a href="#" accesskey="2" title="">Our Clients</a></li>
          <li style="display: none; "><a href="#about_us" accesskey="3" title="">About Us</a></li>
          <li><a accesskey="3" href="<%= page_list_issues_path() %>#page_list" title="">List Pages</a></li>
          <li style="display: none; "><a href="#" accesskey="4" title="">Careers</a></li>
          <li><a href="#contact_us" accesskey="5" title="">Contact Us</a></li>
          <li><a href="#admin" accesskey="6" title="">Admin</a></li>
        </ul>
      </div>
    </div>
	</div>
</div>
<div id="featured">&nbsp;</div>
<div id="wrapper">
	<div id="page" class="uprightness-container-wrapper">
    <div class="uprightness-container">
      <div id="content">

      <%= yield %>

      </div>
      <div id="sidebar">

        <div id="fl_menu">
        <p class="section-title"><a href="#"><%= yield(:title) %></a></p>

        <p class="toc-title"><a href="javascript: void(0);">Page Links</a></p>
        <div class="toc"></div>

        <% if @important_entries.length > 0 %>
        <p>Important Links</p>
        <ul id="important-links">
          <% @important_entries.each do |important_entry| %>
            <li><%= link_to important_entry.title, issue_page_path(important_entry.title) %> <span class="controls"><%#= "(#{important_entry.list_order})" %> | <%= link_to image_tag("up-arrow.png"), move_up_important_issue_path(important_entry, _method: "put"), class: "reorder" %> <%= link_to image_tag("down-arrow.png"), move_down_important_issue_path(important_entry, _method: "put"), class: "reorder" %></span></li>
          <% end %>
        </ul>
        <% end %>

        <p>Recent Links</p>
        <ul>
          <% @recent_entries.each do |recent_entry| %>
            <li><%= link_to recent_entry.title, issue_page_path(recent_entry.title) %></li>
          <% end %>
        </ul>
        </div>

      </div>
    </div>
	</div>
</div>
<div id="copyright" class="uprightness-container-wrapper">
    <p>Copyright (c) 2013 Sitename.com. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
</body>
</html>

<script type="text/javascript">
  function extractBookmark(href){
    // console.log("href: " + href);
    parts = href.split(/#/);
    bookmark = (parts.length > 1) ? parts[1] : "homepage";
    // console.log("selecting bookmark: " + bookmark);
    return bookmark;
  }

  function selectBookmark(bookmark){
    $("#menu li").removeClass("current_page_item");

    var items = $("#menu li:visible");
    // console.log("$(items): " + $($(items)[2]).html());
    var item = $(items)[0];
    for(var i=0; item != null; i+=1){
      // console.log("$(item): " + $(item).html());
      var anchor = $(item).find("a[href]");
      var href = $(anchor).attr("href");
      var re = new RegExp("#" + bookmark);
      if(href.match(re)){
        console.log("matched href! " + href);
        $(item).addClass("current_page_item");
        return true;
        break;
      }

      item = $(items)[i]
    }
    return false;
  }

  $(document).ajaxSend(function(e, xhr, options) {
    var token = $("meta[name='csrf-token']").attr("content");
    xhr.setRequestHeader("X-CSRF-Token", token);
  });

  $(document).ready(function(){
    bookmark = extractBookmark(location.href);
    selectBookmark(bookmark);

    $("#menu li").click(function(){
      href = $(this).find("a").attr("href");
      bookmark = extractBookmark(href);
      // console.log("bookmark: " + bookmark);
      var selected = selectBookmark(bookmark);

      if(selected){
        location.hash = "#" + bookmark;
        window.location.reload(true);
      }

    });

    toc_nodes = $("#content a[name]");
    toc = [];

    if(toc_nodes.length > 0){
      toc[toc.length] = "<ul>"

      $(toc_nodes).each(function(i, node){
        if(i < 20){
          toc[toc.length] = "<li><a href=\"#" + $(node).attr("name") + "\">" + $(node).attr("name") + "</a>" + "</li>";
        }
      })
      toc[toc.length] = "</ul>";

      $("#sidebar div.toc").html(toc.join("\n"));
    } else {
      $("#sidebar .toc-title").hide();
    }
  
    $("#sidebar .toc-title").click(function(){
      if($("#sidebar div.toc").is(":visible")){
        $("#sidebar div.toc").hide();
      } else {
        $("#sidebar div.toc").show();
      }

      return false;
    });
  

    $("a[class='reorder']").click(function(){
      var link = $(this);
      var href = $(this).attr("href");

      $.post(href, {}, function(data, textStatus, jqXHR){
        if(jqXHR.status == 204){
          location.href = "<%= issues_path(anchor: 'admin') %>";
          window.location.reload(true);
        }
      }, "json")

      return false;
    });

    if(location.hash == "#admin"){
      $("#important-links .controls").show();
    }
  
  });
</script>

<script>
//config
$float_speed=1500; //milliseconds
$float_easing="easeOutQuint";
$menu_fade_speed=500; //milliseconds
$closed_menu_opacity=0.75;
 
//cache vars
$fl_menu=$("#fl_menu");
$fl_menu_menu=$("#fl_menu .menu");
$fl_menu_label=$("#fl_menu .label");

$menuPosition=0;

$(window).load(function() {
    // $menuPosition=$('#fl_menu').position().top;
    FloatMenu();
    // $fl_menu.hover(
    //     function(){ //mouse over
    //         $fl_menu_label.fadeTo($menu_fade_speed, 1);
    //         $fl_menu_menu.fadeIn($menu_fade_speed);
    //     },
    //     function(){ //mouse out
    //         $fl_menu_label.fadeTo($menu_fade_speed, $closed_menu_opacity);
    //         $fl_menu_menu.fadeOut($menu_fade_speed);
    //     }
    // );
});
 
$(window).scroll(function () {
    FloatMenu();
});
 
function FloatMenu(){
    var offset = 225;
    var scrollAmount=$(document).scrollTop();
    var menuPosition = $menuPosition;
    var newPosition=menuPosition+scrollAmount - offset;
    // console.log(menuPosition);

    // if($(window).height()<$fl_menu.height()+$fl_menu_menu.height()){
    //     $fl_menu.css("top",menuPosition);

    // } else if(scrollAmount <= offset){
    if(scrollAmount <= offset){
        $fl_menu.stop().animate({top: 0}, $float_speed, $float_easing);

    } else if(scrollAmount > offset){
        $fl_menu.stop().animate({top: newPosition}, $float_speed, $float_easing);

    } else {
    }
}
</script>
