<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Uprightness 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130920

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" />

  <%= stylesheet_link_tag    "uprightness", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="uprightness-container-wrapper">
    <div class="uprightness-container">
      <div id="logo">
        <h1><a href="#">Uprightness</a></h1>
      </div>
      <div id="menu">
        <ul>
          <li class="current_page_item"><a href="#homepage" accesskey="1" title="">Homepage</a></li>
          <li style="display: none; "><a href="#" accesskey="2" title="">Our Clients</a></li>
          <li><a href="#about_us" accesskey="3" title="">About Us</a></li>
          <li style="display: none; "><a href="#" accesskey="4" title="">Careers</a></li>
          <li><a href="#contact_us" accesskey="5" title="">Contact Us</a></li>
        </ul>
      </div>
    </div>
	</div>
</div>
<div id="featured">&nbsp;</div>
<div id="wrapper">
	<div id="page" class="uprightness-container-wrapper">
    <div class="uprightness-container">
      <div id="content">

      <%= yield %>

      </div>
      <div id="sidebar">

        <div id="fl_menu">
        <div class="toc"></div>

        <p>Recent Links</p>
        <ul>
          <% @recent_entries.each do |recent_entry| %>
            <li><%= link_to recent_entry.title, issue_page_path(recent_entry.title) %></li>
          <% end %>
        </ul>
        </div>

      </div>
    </div>
	</div>
</div>
<div id="copyright" class="uprightness-container-wrapper">
    <p>Copyright (c) 2013 Sitename.com. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
</body>
</html>

<script type="text/javascript">
  function extractBookmark(href){
    parts = href.split(/#/);
    bookmark = (parts.length > 1) ? parts[1] : "homepage";
    return bookmark;
  }

  function selectBookmark(bookmark){
    $("#menu li").removeClass("current_page_item");
    $("#menu li a[href='#" + bookmark + "']").parent().addClass("current_page_item");
  }

  $(document).ready(function(){
    bookmark = extractBookmark(location.href);
    selectBookmark(bookmark);

    $("#menu li").click(function(){
      href = $(this).find("a").attr("href");
      bookmark = extractBookmark(href);
      selectBookmark(bookmark);
    });

    toc_nodes = $("#content a[name]");
    toc = [];

    if(toc_nodes.length > 0){
      toc[toc.length] = "<p>Page Links</p>"
      toc[toc.length] = "<ul>"
      //alert($("#content a[name]").length);
      $(toc_nodes).each(function(i, node){
        toc[toc.length] = "<li><a href=\"#" + $(node).attr("name") + "\">" + $(node).attr("name") + "</a>" + "</li>";
      })
      toc[toc.length] = "</ul>";

      $("#sidebar div.toc").html(toc.join("\n"));
    }
    
  });
</script>

<script>
//config
$float_speed=1500; //milliseconds
$float_easing="easeOutQuint";
$menu_fade_speed=500; //milliseconds
$closed_menu_opacity=0.75;
 
//cache vars
$fl_menu=$("#fl_menu");
$fl_menu_menu=$("#fl_menu .menu");
$fl_menu_label=$("#fl_menu .label");
 
$(window).load(function() {
    menuPosition=$('#fl_menu').position().top;
    FloatMenu();
    // $fl_menu.hover(
    //     function(){ //mouse over
    //         $fl_menu_label.fadeTo($menu_fade_speed, 1);
    //         $fl_menu_menu.fadeIn($menu_fade_speed);
    //     },
    //     function(){ //mouse out
    //         $fl_menu_label.fadeTo($menu_fade_speed, $closed_menu_opacity);
    //         $fl_menu_menu.fadeOut($menu_fade_speed);
    //     }
    // );
});
 
$(window).scroll(function () {
    FloatMenu();
});
 
function FloatMenu(){
    var offset = 225;
    var scrollAmount=$(document).scrollTop();
    var newPosition=menuPosition+scrollAmount - offset;

    if($(window).height()<$fl_menu.height()+$fl_menu_menu.height()){
        $fl_menu.css("top",menuPosition);

    } else if(scrollAmount <= offset){
        $fl_menu.stop().animate({top: 0}, $float_speed, $float_easing);

    } else if(scrollAmount > offset){
        $fl_menu.stop().animate({top: newPosition}, $float_speed, $float_easing);

    } else {
    }
}
</script>
